@model CST350_MinesweeperMilestone.Models.UserModel

<h2>Login Success</h2>
<p>Welcome, @Model.Username!</p>

<p><a asp-action="StartGame">Go to StartGame</a></p>
<p><a asp-action="Logout">Logout</a></p>
